body{ background-image: linear-gradient(to left,#020024,#090979,#708033);}

.topnav {
 overflow: hidden;
 background-image: linear-gradient(to left,#020024,#090979,orange);
 position: fixed;
 left: 50%;
 bottom: 85%;
}


.topnav a {
 float: left;
 display: block;
 color: black;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
 color: white;

}


.topnav a:hover {
 background-color: green;
 color: black;
}

     
      .topnav a.active {
        background-image: linear-gradient(to left,#020024,#090979,#2261bf);
        color: white;
      }

.img-logo {
 position: absolute;
 bottom: 60%;
 right: 80%;
}

  .img-m{
    border-radius: 20px;
  }

.btn {
display: inline-block;
padding: 1px 15px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 30px;
background: #28a745;
color: white;
text-decoration: none;
border-radius: 5px;
width: fit-content;
height: fit-content;
font-size: x-large;
}
.container { 
        width: 600px; height: fit-content;
        position: absolute;
        top: 30%;
        left: 7%;
       background-image: linear-gradient(to left,#020024,#090979,#313839);
       color: orange;
        padding: 20px;
        border-radius: 8px;
         width: max-content;
        
        font-size: small;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
       border-radius: 50px;

      
    }    
.items {  border-style: double;
        border-bottom: 1px solid #ddd;
        padding: 10px 10px;
        margin-bottom: 10px;
        border-radius: 50px;
        width: fit-content;
        height: fit-content;
  }
  .items:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 20px;
    
    box-shadow: 10px 10px 10px 5px  rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
  }
           
.btn:hover {
    background-color: #f1f1f1;
    cursor: pointer;
     color: black;}