body{ background-image: linear-gradient(to left,#020024,#090979,#708033);}

.topnav {
 overflow: hidden;
 background-color: #e9e9e9;
 position: fixed;
 left: 50%;
 bottom: 85%;
 background-image: linear-gradient(to left,#020024,#090979,orange)
 ;
}


.topnav a {
 float: left;
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}


.topnav a:hover {
 background-color: green;
 color: black;
}

.topnav a.active {
    background-image: linear-gradient(to left,#020024,#090979,#2261bf);
 color: white;
}

.img-logo {
 position: absolute;
 bottom: 60%;
 right: 80%;
}

.signup-container {
    background-image: linear-gradient(to left,#020024,#090979,#313839);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    position: absolute;
    top: 30%;
    left: 60%;
    color: white;
}
h2 {
    text-align: center;
}
.input-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #218838;
}



.vl{
    border-left: 20px solid #f1f1f1;
    width:fit-content;
    height: fit-content;
    position: absolute;
    top: 36%;
    left: 1%;
    background-image: linear-gradient(to left,#020024,#090979,#708033);
    border-radius: 50px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    
  }

  .detail{
     color: white;
     margin-left: 20px;
     font-size: x-large;
     font-style: italic;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }